/* style for the header */
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/banner.avif);
    background-size: cover;
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

header .tajuk {
    width: 35em;
}

header .calender span p,h1,h3{
    margin: 0;
}

.calender-time{
    font-size: 2em;
    display: flex;
    flex-direction: row;
    align-items: end;
    text-align: center;
    gap: 1em;
    
}
.calender-date h5{
    margin: 0;
}
.calender-date{
    font-size: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 8px;
    justify-content: center
    ;
    
}

.categoriesParent {
    position: absolute;
    bottom: 2em;
    left: 5%;
    right: 5%;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 4em;
    grid-row-gap: 20px;
    padding: 1em 4em;
    }

    .categoriesParent span{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .categoriesParent span a{
        width: 100%;
    }
    .categoriesParent span p{
        font-family: 'Times New Roman', Times, serif;
        color: #3c3c3c;
    }


    .subPlace-img{
        width: 100%;
        height: 228.6px;
        object-fit: cover; 
        /* border-radius: 15px; */
        border: solid 2px #ffffff;
        border-radius:15PX;
        margin-bottom: 1em;
        /* box shading */
        box-shadow: -16px 13px 23px -17px rgba(0,0,0,0.5);
        -webkit-box-shadow: -16px 13px 23px -17px rgba(0,0,0,0.5);
        -moz-box-shadow: -16px 13px 23px -17px rgba(0,0,0,0.5);
    }

.history-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 16em 0 4em 0;
}
.history-title h1{
    font-size: 3.5em;
}


section{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0.5em 0 3em 0 ;
    gap: 2em;
}
section .another-content{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), url(img/parameswara.jpg);
    background-size: cover;
    color: white;
    
}
section .another-content2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), url(img/portuguese.jpg);
    background-size: cover;
    color: white;
}
section .another-content3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), url(img/dutch.jpg);
    background-size: cover;
    color: white;
}
section .another-content4{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), url(img/unesco.jpg);
    background-size: cover;
    color: white;
}

section .another-content, .another-content2, .another-content3, .another-content4{
    /* width: 100%; */
    padding: 2.5em 8em;
    margin: 0 4em;
    border-radius: 20px;
    /* height: 70vh; */
    display: flex;
    flex-direction: row;
    gap: 2em;
    
}

section img{
    width: 20em;
    height: 20em;
    object-fit: cover;
    border-radius: 15px  50% 15px 15px ;
}

section span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 15px; */
}
section span .main-tilte{
    font-size: 4em;
}
section span .secondary-title{
    font-size: 1.5em;
    color: #b5b5b5;margin: 0 0 15px 0;
}
section span .desc{
    font-size: 1em;
}


section span h1,section      span p{
    margin: 0;

}